.btn
  border-radius: 0.25rem
  padding: 0.5rem 1.563rem
  cursor: pointer

  &-y
    background-color: $yellow-button
    color: $dark-blue

  &-g
    background-color: $light-gray
    color: $dark-blue
