\:root
  font-size: 16px
  font-family: $font-text

*
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  margin: 0
  padding: 0

html
  +size(100% 100%)
  background: $dark-blue
  font-size: 100%

body
  font-size: 1rem

a
  text-decoration: none

h1
  margin: 0
