$dark-blue: #111729
$red-button: #ba2d0b
$purple-button: #a40e4c
$light-green: #d5f2e3
$green: #73ba9b

/* $light-blue: #9ec5cb */
/*$light-gray: #d2dcdc */
/*$yellow-button: #dbba00 */

$white: #fff

@font-face
  font-family: 'A-Space-r'
  src: url('fonts/A-Space Regular.woff') format('woff'), url('/fonts/A-Space Regular.otf') format('otf')
  font-weight: normal
@font-face
  font-family: 'A-Space-l'
  src: url('fonts/A-Space Light.woff') format('woff'), url('/fonts/A-Space Light.otf') format('otf')
  font-weight: lighter

$font-space-r: 'A-Space-r', sans-serif
$font-space-l: 'A-Space-l', sans-serif
$font-text: 'Questrial', sans-serif
