header
  +position(fixed, 0 null null 0)
  display: flex
  +size(100% auto)
  padding: 0.625rem
  background-color: red
  justify-content: space-between

.logo
  background-color: green

  &__link
    display: inline-block
    font-family: $font-space-r
    font-size: 1.5rem
    color: $light-gray

.menu__toggle
  background-color: black
  border: 0.125rem solid $light-gray
  border-radius: 0.25rem
  padding: 0.25rem

  &__link
    display: inline-block
    color: $light-gray
