header
  +position(fixed, 0 null null null)
  display: flex
  +size(1170px auto)
  max-width: 100%
  padding: 2.5rem
  background-color: transparent
  justify-content: space-between
  align-items: center
  z-index: 3

.logo
  background-color: transparent

  &__link
    display: inline-block
    font-family: $font-space-r
    font-size: 1.625rem
    color: $dark-blue
    cursor: pointer

  &__img
    +size(80px 80px)

.menu__toggle
  background-color: $white
  border: 0.125rem solid $dark-blue
  border-radius: 0.25rem
  padding: 0.25rem

  &__link
    display: inline-block
    color: $dark-blue
    cursor: pointer
